body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
  min-width: 100dvw;
  min-height: 100dvh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  min-height: 100vh;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.content_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

#email_input {
  min-width: 250px;
}

#location_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#location_input {
  min-width: 250px;
}
input {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  max-width: 50%;
}

button:hover {
  background-color: #45a049;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #4caf50;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 10px;
}

li {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #f0f0f0;
}

li h3 {
  margin: 0 0 5px;
  font-size: 18px;
  color: #333;
}

li p {
  margin: 0;
  color: #666;
}
